<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="8" android:versionName="2.0" package="org.secuso.privacyfriendlynetmonitor">
    <uses-sdk android:minSdkVersion="17" android:targetSdkVersion="26"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <application android:theme="@style/Theme.AppCompat.Light.NoActionBar" android:label="@string/app_name" android:icon="@mipmap/ic_launcher" android:name="org.secuso.privacyfriendlynetmonitor.DatabaseUtil.DBApp" android:allowBackup="true" android:supportsRtl="true">
        <activity android:theme="@style/SplashTheme" android:label="@string/app_name" android:name="org.secuso.privacyfriendlynetmonitor.Activities.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:theme="@style/AppTheme_NoActionBar" android:label="@string/app_name" android:name="org.secuso.privacyfriendlynetmonitor.Activities.MainActivity"/>
        <activity android:theme="@style/AppTheme_NoActionBar" android:label="@string/headline_report_detail" android:name="org.secuso.privacyfriendlynetmonitor.Activities.ReportDetailActivity" android:parentActivityName="org.secuso.privacyfriendlynetmonitor.Activities.MainActivity">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value="org.secuso.privacyfriendlynetmonitor.Activities.MainActivity"/>
        </activity>
        <activity android:theme="@style/AppTheme" android:label="@string/about" android:name="org.secuso.privacyfriendlynetmonitor.Activities.AboutActivity" android:screenOrientation="portrait" android:parentActivityName="org.secuso.privacyfriendlynetmonitor.Activities.MainActivity">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value="org.secuso.privacyfriendlynetmonitor.Activities.MainActivity"/>
        </activity>
        <activity android:theme="@style/AppTheme_NoActionBar" android:label="@string/help" android:name="org.secuso.privacyfriendlynetmonitor.Activities.HelpActivity" android:screenOrientation="portrait" android:parentActivityName="org.secuso.privacyfriendlynetmonitor.Activities.MainActivity">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value="org.secuso.privacyfriendlynetmonitor.Activities.MainActivity"/>
        </activity>
        <activity android:theme="@style/AppTheme_NoActionBar" android:label="@string/title_activity_settings" android:name="org.secuso.privacyfriendlynetmonitor.Activities.SettingsActivity" android:screenOrientation="portrait" android:parentActivityName="org.secuso.privacyfriendlynetmonitor.Activities.MainActivity">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value="org.secuso.privacyfriendlynetmonitor.Activities.MainActivity"/>
        </activity>
        <activity android:theme="@style/AppTheme_NoActionBar" android:name="org.secuso.privacyfriendlynetmonitor.Activities.TutorialActivity">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value="org.secuso.privacyfriendlynetmonitor.Activities.MainActivity"/>
        </activity>
        <service android:label="org.secuso.privacyfriendlynetmonitor.NetMonitorPassiveService" android:name="org.secuso.privacyfriendlynetmonitor.ConnectionAnalysis.PassiveService" android:permission="android.permission.BIND_SERVICE" android:enabled="true"/>
        <activity android:theme="@style/AppTheme_NoActionBar" android:label="@string/title_activity_history" android:name="org.secuso.privacyfriendlynetmonitor.Activities.HistoryActivity" android:screenOrientation="portrait" android:parentActivityName="org.secuso.privacyfriendlynetmonitor.Activities.MainActivity">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value="org.secuso.privacyfriendlynetmonitor.Activities.MainActivity"/>
        </activity>
        <activity android:theme="@style/AppTheme_NoActionBar" android:label="@string/title_activity_history_detail" android:name="org.secuso.privacyfriendlynetmonitor.Activities.HistoryDetailActivity" android:screenOrientation="portrait" android:parentActivityName="org.secuso.privacyfriendlynetmonitor.Activities.HistoryActivity">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value="org.secuso.privacyfriendlynetmonitor.Activities.HistoryActivity"/>
        </activity>
        <activity android:theme="@style/AppTheme" android:label="@string/title_activity_select_history_apps" android:name="org.secuso.privacyfriendlynetmonitor.Activities.SelectHistoryAppsActivity" android:screenOrientation="portrait" android:configChanges="orientation" android:windowSoftInputMode="stateHidden" android:parentActivityName="org.secuso.privacyfriendlynetmonitor.Activities.HistoryDetailActivity">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value="org.secuso.privacyfriendlynetmonitor.Activities.HistoryDetailActivity" android:resource="@xml/searchable"/>
        </activity>
        <activity android:theme="@style/AppTheme" android:label="@string/title_activity_app_report__detail" android:name="org.secuso.privacyfriendlynetmonitor.Activities.AppConnections_Chart" android:screenOrientation="portrait" android:configChanges="orientation" android:parentActivityName="org.secuso.privacyfriendlynetmonitor.Activities.HistoryDetailActivity">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value="org.secuso.privacyfriendlynetmonitor.Activities.HistoryDetailActivity"/>
        </activity>
        <meta-data android:name="android.support.VERSION" android:value="26.1.0"/>
        <meta-data android:name="android.arch.lifecycle.VERSION" android:value="27.0.0-SNAPSHOT"/>
    </application>
</manifest>
